@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

li {
  list-style: none;
}

.first-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 88px;
  color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #aa0601;
}

.first-header .logo_wrap {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80px;
  height: 48px;
}

.first-header .logo_wrap .logo {
  cursor: pointer;
}

.first-header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}

.first-header .menu li + li {
  margin-left: 64px;
}

.first-header .menu li:hover {
  cursor: pointer;
}

.section-1 {
  padding-top: 108px;
  height: calc(100vh - 108px);
  background-image: url("../images/68@2x.png");
  background-size: cover;
}

.section-1 .container {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 242px;
}

.section-1 .container .brand {
  color: #650300;
  font-size: 36px;
  line-height: 54px;
  text-align: right;
  font-weight: bold;
}

.section-1 .container .title {
  font-size: 64px;
  line-height: 96px;
}

.section-2 {
  background: #aa06010d;
  padding-bottom: 80px;
}

.section-2 .container {
  margin: 0 auto;
  max-width: 1200px;
  color: #650300;
}

.section-2 .container .title {
  padding-top: 64px;
  font-size: 48px;
  text-align: center;
}

.section-2 .container .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
}

.section-2 .container .d-flex li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 37px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2 .container .d-flex li + li {
  margin-left: 24px;
}

.section-2 .container .d-flex li h4 {
  font-size: 24px;
  padding-top: 40px;
}

.section-2 .container .d-flex li h6 {
  font-size: 16px;
}

.section-3 {
  padding-bottom: 80px;
}

.section-3 .container {
  margin: 0 auto;
  max-width: 1200px;
  color: #650300;
}

.section-3 .container .title {
  padding-top: 64px;
  padding-bottom: 60px;
  font-size: 48px;
  text-align: center;
}

.section-3 .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #aa0601;
}

.section-3 .container .row h4 {
  font-size: 48px;
  text-transform: uppercase;
}

.section-3 .container .row + .row {
  padding-top: 24px;
}

.section-3 .container .row:nth-child(3) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-3 .container .row:nth-child(3) img {
  padding-left: 24px;
}

.section-3 .container .row img + img {
  padding-left: 24px;
}

.section-4 {
  background-image: url("../images/nick-owuor-astro-nic-visuals-54Q_HvMWtVE-unsplash.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -306px;
  padding-bottom: 80px;
}

.section-4 .container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-4 .title {
  padding-top: 64px;
  padding-bottom: 60px;
  font-size: 48px;
  text-align: center;
  color: #fff;
}

.section-4 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-4 .row .col-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 4px;
}

.section-4 .row .col-r {
  margin-left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-4 .pic-0 {
  margin-right: 79px;
}

.section-4 .pic-0-text {
  position: absolute;
  top: 27px;
  right: 0px;
  padding-left: 32px;
  width: 315px;
  color: #aa0601;
  background: #fff;
  font-size: 72px;
}

.section-4 .pic-0-icon {
  position: absolute;
  z-index: 44;
  top: 61px;
  right: 19px;
  width: 48px;
  height: 48px;
  background-image: url("../images/ic_arrow_forward_24px.svg");
  background-size: contain;
}

.section-4 .pic-1,
.section-4 .pic-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #aa0601;
  font-size: 72px;
  line-height: 1.5;
  font-weight: bold;
  margin-top: 60px;
  position: relative;
  background-image: url("../images/14.png");
  background-size: cover;
  width: 585px;
  height: 592px;
  z-index: 0;
}

.section-4 .pic-1::before,
.section-4 .pic-2::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(255, 255, 255, 0.5);
  z-index: -5;
}

.section-4 .pic-2 {
  background-image: url("../images/39.png");
  margin-left: 30px;
}

.section-4 ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-4 ul li + li {
  margin-left: 24px;
}

.section-4 .content_wrap {
  border: 1px solid #dee2e6;
  border-top: none;
  padding: 16px;
}

.section-4 .content_wrap h4 {
  font-size: 16px;
  line-height: 21px;
  padding-bottom: 16px;
}

.section-4 .content_wrap h6 {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  padding-bottom: 16px;
}

.section-4 .content_wrap h6:nth-child(3) {
  color: #707070;
  padding-bottom: 0;
}

.section-4 .I_col-l {
  max-width: 573px;
}

.section-4 .I_col-r {
  max-width: 958px;
}

.section-4 .II_col-l {
  max-width: 132px;
}

.section-4 .II_col-r {
  max-width: 818px;
}

.section-4 .psr {
  position: relative;
}

.section-4 .d-1200p {
  max-width: 1200px;
}

.section-4 .d-100 {
  width: 100%;
}

.section-4 .dfw {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-4 .jce {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-4 .jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-4 .n-144 {
  -webkit-transform: translateY(144px);
          transform: translateY(144px);
}

.section-4 .mt-100 {
  margin-top: 100px;
}

.section-4 .mt-4 {
  margin-top: 4px;
}

.section-4 .mb-4 {
  margin-bottom: 4px;
}

.section-5 {
  padding-bottom: 92px;
  background: #aa06010d;
}

.section-5 .container {
  max-width: 792px;
  margin: 0 auto;
}

.section-5 .title {
  padding-top: 64px;
  font-size: 48px;
  text-align: center;
}

.section-5 .sub-title {
  font-size: 20px;
  line-height: 1.5;
  font-family: "PingFang TC";
}

.section-5 input {
  width: 100%;
  height: 50px;
  background: inherit;
  border: 1px solid #000;
  outline: none;
  font-size: 16px;
  line-height: 1.5;
  padding: 16px;
  margin-bottom: 16px;
}

.section-5 .userSend {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 42px;
  width: 180px;
  height: 54px;
  background: #aa0601;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  border: none;
}

.section-5 .label_wrap {
  display: inline-block;
}

.section-5 .label_wrap .check_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 14px;
}

.section-5 .checkbox,
.section-5 .checked {
  display: none;
}

.section-5 .checkbox ~ .defalut {
  display: inline-block;
  background-color: inherit;
  margin-right: 4px;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* 防止文字被滑鼠選取反白 */
}

.section-5 .checkbox:checked ~ .defalut {
  display: none;
}

.section-5 .checkbox:checked ~ .checked {
  display: inline-block;
  background-color: inherit;
  text-align: center;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  border: 2px solid #000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section-5 textarea {
  width: 100%;
  background: inherit;
  border: 1px solid #000;
  outline: none;
  font-size: 16px;
  line-height: 1.5;
  padding: 16px 14px;
  resize: none;
  margin-bottom: 16px;
}

.section-5 label {
  display: inline-block;
  margin-bottom: 4px;
}

.section-5 .mb-20 {
  margin-bottom: 20px;
}

.section-5 .mb-24 {
  margin-bottom: 24px;
}

.section-5 .mt-42 {
  margin-top: 42px;
}

footer {
  background: #aa0601;
}

footer .container {
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 27px;
  max-width: 1200px;
}

footer .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

footer .link li {
  cursor: pointer;
  font-size: 16px;
  height: 48px;
  line-height: 48px;
}

footer .link li + li {
  margin-left: 48px;
}

footer .social-link li {
  cursor: pointer;
}

footer .social-link li + li {
  margin-left: 32px;
  line-height: 48px;
  height: 48px;
}

footer .contact {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .contact li {
  width: 100%;
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 16px;
}

footer .contact li img {
  display: inline-block;
}

footer .contact li .img_0 {
  width: 36px;
  height: 36px;
  margin-right: 23px;
}

footer .contact li .img_1 {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}

footer .copyright li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .copyright li span {
  margin-left: 38px;
  font-size: 16px;
  line-height: 24px;
}

footer .service li {
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
}

footer .service li + li {
  margin-left: 62px;
}

footer .mb-24 {
  margin-bottom: 24px;
}

footer .mb-32 {
  margin-bottom: 32px;
}
/*# sourceMappingURL=all.css.map */